.Review {
	height: 248px;
	width: 25vw;
	border-radius: 8px 8px 8px 8px;
	background-color: #0a0b1a;
	border: 2px solid #E5AF56;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-self: center;
}

.Review::after {
	content: '';
	width: inherit;
	height: inherit;
	border-radius: 8px;
	left: 8px;
	top: -8px;
	background-image: linear-gradient(143.63deg, #276C73 5.43%, #5293E8 110.6%);
	position: absolute;
	z-index: -5;
}

.Review p {
	margin: 0;
}

.Review .reviewerInfo {
	margin: 24px 2px 0 24px;
	display: grid;
	grid-template-columns: 64.5px 1fr;
	justify-content: center;
	align-items: center;
}

.Review .nameHolder {
	font-family: var(--quaternaryFont);
	font-size: var(--miniSize);
	line-height: 32px;
	font-weight: var(--bolder);
}

.Review .imgHolder img {
	width: 48px;
	height: 48px;
}

.Review .reviewHolder {
	margin: 0px 24px 3vw 24px;
	width: 250%;
	height: 100%;
}

.Review .reviewHolder p {
	margin-top: auto;
	font-family: var(--tertiaryFont);
	font-size: var(--miniSize);
	line-height: 24px;
	font-weight: var(--regular);
}

.Review .details {
	display: flex;
	align-items: center;
}

.Review .details p {
	margin-left: 8px;
	font-family: var(--quinaryFont);
	font-weight: var(--regular);
	font-size: 11px;
	line-height: 16px;
	color: #E5C558;
}

@media only screen and (max-width: 768px) {
	.Review {
		height: 232px;
		width: 360px;
	}

	.Review .reviewHolder p {
		margin-top: 28px;
		font-family: var(--tertiaryFont);
		font-weight: var(--regular);
	}

}

@media only screen and (min-width: 769px) and (max-width: 914px) {
	.Review {
		width: 37vw;
	}

	.Review .reviewHolder {
		margin: 0px 24px 3vw 24px;
		width: 60vw;
	}

	.Review .reviewHolder p {
		margin-top: auto;
		font-family: var(--tertiaryFont);
		font-size: var(--miniSize);
		line-height: 24px;
		font-weight: var(--regular);
	}

}

@media only screen and (max-width: 480px) {
	.Review {
		height: 232px;
		width: 328px;
	}

	.Review .reviewHolder p {
		margin-top: 28px;
		font-family: var(--tertiaryFont);
		font-weight: var(--regular);
	}

}









