.Menu .menu-area {
	position: absolute;
	background-color: rgba(16, 16, 42, 0.95);
	z-index: 998;
	left: -8vw;
	width: 109vw;
	height: 100vh;
	top: -1%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 12px;
}

.Menu #close {
	position: absolute;
	width: 12px;
	top: 25px;
	right: 13vw;
}

.Menu .menu-area .linkHolder {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.Menu .menu-area .linkHolder > * {
  margin: 0 10px 15px 15px;
  float: left;
  color: white;
  text-decoration: none;
  padding: 5px;
}