.Events .upcomingShows {
	margin-top: 104px;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.Events .scroll {
	top: 1085px;
	left: 0;
}

.Events .eventHolder{
	--doubleMargin: calc(var(--margin) * 2);
	width: calc(1440px - var(--doubleMargin));
	top: 8px;
	display: flex;
	justify-content: space-between;
	margin-left: var(--margin);
}

.Events .upcomingShows .titleHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Events .upcomingShows .titleHolder h3 {
	font-family: var(--primaryFont);
	font-size: var(--largerSize);	
	font-weight: var(--regular);
	line-height: 40px;
	position: relative;
}

.Events .upcomingShows .titleHolder h3::after {
	width: 48px;
	height: 3px;
	border-top: 3px solid #0259EB;
	position: absolute;
	content: '';
	top: 48px;
	left: 0px;
}

.Events .upcomingShows .titleHolder small {
	font-family: var(--tertiaryFont);
	font-size: var(--miniSize);
	color: #E5C558;
	text-align: right;
	font-weight: 600;
	line-height: 24px;
}

@media only screen and (min-width: 1224px) {
	.Events .eventHolder{
		--doubleMargin: calc(var(--margin) * 2);
		width: calc(100vw - var(--doubleMargin));
	}
}

@media only screen and (max-width: 1223px) {
	.Events .eventHolder{
		--doubleMargin: calc(var(--margin) * 2);
		width: calc(100vw - var(--doubleMargin));
	}

	.Events .eventHolder > *:last-child{
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.Events .upcomingShows {
		margin-top: 250px;
	}

	.Events .eventHolder > *:last-child{
		display: none;
	}

	.Events .scroll {
		top: 1000px;
	}

	.Events .upcomingShows .titleHolder p{
		z-index: 998;
	}

	.Events .upcomingShows .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: 22px;	
		font-weight: var(--regular);
		line-height: 28px;
		z-index: 995;
		width: 50vw;
	}

	.Events .upcomingShows .titleHolder h3::after {
		top: 34px;
	}

	.Events .eventHolder{
		--doubleMargin: calc(var(--miniMargin) * 2);
		width: calc(1000px - var(--doubleMargin));
		grid-column-gap: 25px;
	}

	.Events .upcomingShows .titleHolder small {
		font-size: 16px;
	}

}

@media only screen and (max-width: 480px) {
	.Events .upcomingShows {
		margin-top: 150px;
	}

	.Events .scroll {
		top: 910px;
	}

	.Events .upcomingShows .titleHolder {
		margin-left: calc(var(--miniMargin) * -1);
		margin-right: calc(var(--miniMargin) * -1);
	}

	.Events .upcomingShows .titleHolder p{
		z-index: 998;
	}

	.Events .upcomingShows .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: 22px;	
		font-weight: var(--regular);
		line-height: 28px;
		z-index: 995;
		width: 65vw;
		word-wrap: nowrap;
	}

	.Events .upcomingShows .titleHolder h3::after {
		top: 34px;
	}

	.Events .eventHolder{
		--doubleMargin: calc(var(--miniMargin) * 2);
		width: calc(1000px - var(--doubleMargin));
		grid-column-gap: 25px;
		margin-left: var(--miniMargin);
	}

	.Events .upcomingShows .titleHolder small {
		font-size: 16px;
	}

}



