.Events .upcomingShows {
	margin-top: 126px;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.Events .scroll {
	left: 0;
}

.Events .eventHolder{
	--doubleMargin: calc(var(--margin) * 2);
	width: calc(1440px - var(--doubleMargin));
	top: 8px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 16px;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.Events .eventHolder > *:first-child {
	margin-right: auto;
}

.Events .eventHolder > *:last-child {
	margin-left: auto;
}

.Events .upcomingShows .titleHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Events .upcomingShows .titleHolder h3 {
	font-family: var(--primaryFont);
	font-size: var(--largerSize);	
	font-weight: var(--regular);
	line-height: 40px;
	position: relative;
}

.Events .upcomingShows .titleHolder h3::after {
	width: 48px;
	height: 3px;
	border-top: 3px solid #0259EB;
	position: absolute;
	content: '';
	top: 48px;
	left: 0px;
}

.Events .upcomingShows .titleHolder small {
	font-family: var(--tertiaryFont);
	font-size: var(--miniSize);
	color: #E5C558;
	text-align: right;
}

/*media queries*/
@media only screen and (min-width: 1440px) {
	.Events .eventHolder{
		--doubleMargin: calc(var(--margin) * 2);
		width: calc(100vw - var(--doubleMargin));
	}
}