
.Reviews .allReviews {
	margin-top: 498px;
	margin-left: var(--margin);
	margin-right: var(--margin);
	margin-bottom: 401px;
}

.Reviews .scroll {
	left: 0;
	top: 1686px;
}

.Reviews .reviewHolder{
	--doubleMargin: calc(var(--margin) * 2);
	width: calc(1440px - var(--doubleMargin));
	top: 8px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 16px;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.Reviews .reviewHolder > *:first-child {
	margin-right: auto;
}

.Reviews .reviewHolder > *:last-child {
	margin-left: auto;
}

.Reviews .allReviews .titleHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Reviews .allReviews .titleHolder .pagination{
	width: max-content;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}

.Reviews .allReviews .titleHolder .pagination > *{
	margin-left: auto;
}

.Reviews .allReviews .titleHolder .pagination p{
	font-family: var(--tertiaryFont);
	font-size: var(--miniSize);	
	font-weight: 600;
	line-height: 24px;
	margin: 2px;
	opacity: 0.8;
}

.Reviews .allReviews .titleHolder .pagination p:last-of-type{
	opacity: 0.5;
}

.Reviews .pagination > img {
	opacity: 0.8;
}

.Reviews .allReviews .titleHolder h3 {
	font-family: var(--primaryFont);
	font-size: var(--largerSize);	
	font-weight: var(--regular);
	line-height: 40px;
	position: relative;
}

.Reviews .allReviews .titleHolder h3::after {
	width: 48px;
	height: 3px;
	border-top: 3px solid #0259EB;
	position: absolute;
	content: '';
	top: 48px;
	left: 0px;
}

/*media queries*/
@media only screen and (min-width: 1440px) {
	.Reviews .reviewHolder{
		--doubleMargin: calc(var(--margin) * 2);
		width: calc(100vw - var(--doubleMargin));
	}
}

/*media queries*/
@media only screen and (min-width: 769px) {
	.Reviews .reviewHolder{
		--doubleMargin: calc(var(--margin) * 2);
		width: calc(100vw - var(--doubleMargin));
	}
}

/*media queries*/
@media only screen and (min-width: 769px) and (max-width: 914px) {
	.Reviews .reviewHolder{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 50px;
	}

	.Reviews .allReviews {
		margin-top: 400px;
	}

	.Reviews .scroll {
		top: 1600px;
	}
}
/*media queries*/
@media only screen and (max-width: 769px) {
	.Reviews .reviewHolder{
		width: calc(1300px - var(--doubleMargin));
		top: 8px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 16px;
		margin-left: var(--margin);
		margin-right: var(--margin);
	}

	.Reviews .allReviews {
		margin-top: 470px;
	}

	.Reviews .scroll {
		top: 1550px;
	}

	.Reviews .allReviews .titleHolder p{
		z-index: 998;
	}

	.Reviews .allReviews .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: 22px;	
		font-weight: var(--regular);
		line-height: 28px;
		z-index: 995;
		width: 50vw;
	}

	.Reviews .allReviews .titleHolder h3::after {
		top: 34px;
	}

}
/*media queries*/
@media only screen and (width: 769px) {
	.Reviews .allReviews {
		margin-top: 350px;
	}

	.Reviews .scroll {
		top: 1530px;
	}

	.Reviews .allReviews .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: var(--largerSize);	
		font-weight: var(--regular);
		line-height: 40px;
		z-index: 995;
		width: 50vw;
	}

	.Reviews .allReviews .titleHolder h3::after {
		top: 34px;
	}

}
/*media queries*/
@media only screen and (max-width: 480px) {
	.Events .allReviews .titleHolder p{
		z-index: 998;
	}

	.Reviews .allReviews .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: 20px;	
		font-weight: var(--regular);
		line-height: 24px;
		z-index: 995;
		width: 30vw;
		margin-left: calc(var(--miniMargin) * -1);
	}

	.Reviews .allReviews .titleHolder h3::after {
		top: 32px;
	}

	.Reviews .reviewHolder{
		--doubleMargin: calc(var(--miniMargin) * 2);
		width: calc(1100px - var(--doubleMargin));
		grid-column-gap: 25px;
		margin-left: var(--miniMargin);
		margin-right: var(--miniMargin);
	}

	.Reviews .allReviews .pagination  > *{
		display: none;
	}

	.Reviews .scroll {
		left: 0;
		top: 1445px;
	}

}

/*media queries*/
@media only screen and (max-width: 375px) {
	.Reviews .allReviews {
		margin-top: 430px;
	}

	.Reviews .scroll {
		top: 1400px;
	}

	.Reviews .allReviews .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: 20px;	
		font-weight: var(--regular);
		line-height: 24px;
		z-index: 995;
		width: 20vw;
		margin-left: calc(var(--miniMargin) * -1);
	}

	.Reviews .reviewHolder{
		--doubleMargin: calc(var(--miniMargin) * 2);
		width: calc(950px - var(--doubleMargin));
		margin-left: var(--miniMargin);
		margin-right: var(--miniMargin);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 16px;
	}
}


/*media queries*/
@media only screen and (max-width: 320px) {
	.Reviews .allReviews {
		margin-top: 430px;
	}

	.Reviews .scroll {
		top: 1400px;
	}

	.Reviews .allReviews .titleHolder h3 {
		font-family: var(--primaryFont);
		font-size: 20px;	
		font-weight: var(--regular);
		line-height: 24px;
		z-index: 995;
		width: 20vw;
		margin-left: calc(var(--miniMargin) * -1);
	}

	.Reviews .reviewHolder{
		--doubleMargin: calc(var(--miniMargin) * 2);
		width: calc(800px - var(--doubleMargin));
		grid-column-gap: 25px;
		margin-left: var(--miniMargin);
		margin-right: var(--miniMargin);
	}
}

