
.Reviews .allReviews {
	margin-top: 498px;
	margin-left: var(--margin);
	margin-right: var(--margin);
	margin-bottom: 401px;
}

.Reviews .scroll {
	left: 0;
	top: 1686px;
}

.Reviews .eventHolder{
	--doubleMargin: calc(var(--margin) * 2);
	width: calc(1440px - var(--doubleMargin));
	top: 8px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 16px;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

.Reviews .eventHolder > *:first-child {
	margin-right: auto;
}

.Reviews .eventHolder > *:last-child {
	margin-left: auto;
}

.Reviews .allReviews .titleHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Reviews .allReviews .titleHolder .pagination{
	display: flex;
	justify-content: space-between;
}

.Reviews .allReviews .titleHolder .pagination p{
	font-family: var(--tertiaryFont);
	font-size: var(--miniSize);	
	font-weight: 600;
	line-height: 40px;
}

.Reviews .allReviews .titleHolder h3 {
	font-family: var(--primaryFont);
	font-size: var(--largerSize);	
	font-weight: var(--regular);
	line-height: 40px;
	position: relative;
}

.Reviews .allReviews .titleHolder h3::after {
	width: 48px;
	height: 3px;
	border-top: 3px solid #0259EB;
	position: absolute;
	content: '';
	top: 48px;
	left: 0px;
}

/*media queries*/
@media only screen and (min-width: 1440px) {
	.Reviews .eventHolder{
		--doubleMargin: calc(var(--margin) * 2);
		width: calc(100vw - var(--doubleMargin));
	}
}