:root {
	--primaryFont: 'Libre Baskerville', serif;
	--secondaryFont: 'Open Sans';
	--tertiaryFont: 'Nunito', sans-serif;
	--quaternaryFont: 'Quattrocento', serif;
	--quinaryFont: 'Rubik', sans-serif;
	--bgcolor: #0a0b1a;

	--bolder: 700;
	--regular: 400;

	--regularSize: 24px;
	--hugeSize: 80px;
	--largerSize: 32px;
	--miniSize: 16px;

	--margin: 10.42vw;
	--miniMargin: 5vw;
	--primaryColor: white;
	--secondaryColor: black;
}

body {
	color: var(--primaryColor);
	background-color: var(--bgcolor);
	overflow-x: hidden;
}